---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=get_auf_status
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status_cd":"","load_date_time":null,"recs_received":"","recs_loaded":"","recs_failed":"","error_code":1002,"error_msg":"no
        data found"}

'
  recorded_at: Tue, 24 Apr 2012 14:46:10 GMT
recorded_with: VCR 2.0.0
