---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=get_client_plans_basic
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"plans_basic":[{"plan_no":10291129,"plan_name":"Test Plan 01","plan_desc":"This
        is a test plan","supp_plan_ind":0,"billing_interval":1,"billing_ind":1,"display_ind":1,"rollover_months":null,"rollover_plan_no":null,"early_cancel_fee":null,"early_cancel_min_months":null,"suspension_period":null,"new_acct_status":1,"rollover_acct_status":1,"rollover_acct_status_days":0,"init_free_months":0,"plan_2_assign_on_susp":null,"default_notify_method":null,"prepaid_ind":0,"currency_cd":"usd"}],"error_code":0,"error_msg":"OK"}

'
  recorded_at: Tue, 24 Apr 2012 14:46:23 GMT
recorded_with: VCR 2.0.0
