---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=get_reg_uss_params&session_id=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error_code":0,"error_msg":"OK","out_reg_uss_params":[{"param_name":"test","param_val":"Test"}]}

'
  recorded_at: Tue, 24 Apr 2012 14:46:36 GMT
recorded_with: VCR 2.0.0
