---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=update_master_plan&acct_no=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error_code":1009,"proration_result_amount":null,"collection_error_code":null,"collection_error_msg":null,"statement_error_code":null,"statement_error_msg":null,"proc_cvv_response":null,"proc_avs_response":null,"proc_cavv_response":null,"proc_status_code":null,"proc_status_text":null,"proc_payment_id":null,"proc_auth_code":null,"proc_merch_comments":null,"invoice_no":null,"cancelled_supp_plans":null,"error_msg":"account
        does not exist"}

'
  recorded_at: Tue, 24 Apr 2012 14:46:01 GMT
recorded_with: VCR 2.0.0
