---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=subscribe_event_class&class_no=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error_code":0,"error_msg":"OK","events":[{"event_id":102,"event_name":"Account
        Administrative Contact Modified","event_description":"Account Administrative
        Contact Modified","event_state":"ON"},{"event_id":104,"event_name":"Account
        Authentication Data Modified","event_description":"Account Authentication
        Data Modified","event_state":"ON"},{"event_id":103,"event_name":"Account Billing
        Contact Modified","event_description":"Account Billing Contact Modified","event_state":"ON"},{"event_id":127,"event_name":"Account
        Comment Added","event_description":"Account Comment Added","event_state":"OFF"},{"event_id":101,"event_name":"Account
        Created","ev[...]
